body{
    background-color: #deedd7;
        margin: auto;
            font-family: "Alike";
}
.header{
    background: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.small-container h1{
    text-align: center;
    margin:auto;
    font-size: 50px;
    position: relative;
    line-height: 80px;
    color: rgb(54, 54, 54);
    font-weight: normal;
    padding: 20px;
}
    
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    transition: transform 0.3s;

}
.col4 h2{
    font-size: 35px;
    font-weight: normal;

}
.col4 a{
    color: rgb(54, 54, 54);
}
.col4 img{
    width: 100%;
}
.col4:hover{
transform: scale(1.03);
}
.footer{
    background: #ffffff;
    padding: 70px;
    border-top: 1px solid #dddddd;
    margin: auto;
}
.categories{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      gap: 25px;
      padding: 40px;
      max-width: 1750px;
      margin: 0 auto;
      

}
.categories iframe{
    width: 100%;
     height: auto;      /* scales height automatically */
  aspect-ratio: 16 / 9; /* keeps proper video proportions */
   margin: auto;
   transition: transform 0.3s ease;
   
}
.categories iframe:hover {
  transform: scale(1.03);
}
